
body {

    font-family: 'Almendra SC';
    text-shadow: 4px 4px 4px #aaa;
 }

.myheader {
    background-color: rgb(145, 224, 235);
 }
 

 body {
  background-color: powderblue;
 }

